<p>{{title}} is running</p>
<ngx-charts-line-chart [legend]="legend" [xAxis]="xAxis" [yAxis]="yAxis" [timeline]="timeline" [results]="chartData" [view]="view" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
</ngx-charts-line-chart>
<router-outlet></router-outlet>
