<div id="jumbotron" class="jumbotron">
  <h1 class="display-4">Portfolio Home!</h1>
  <p id="lead" class="lead">This is your current up to date portfolio.</p>
  <hr class="my-4" />
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text"><br />John Doe</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Holding Market Value by Asset</h5>
        <p class="card-text">
          [Pie chart to show the holding market value by asset]

        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">$[Total Market Value of Portfolio]</h5>
        <p class="card-text">
          Total Profits: +$[Total Profits]]
        </p>
      </div>
    </div>
  </div>
  <hr class="my-4" />
</div>

<div class="row">
  <div class="col-sm-5">
    <div id="tabletitle">
      <h1 class="display-6">Your Portfolio</h1>
    </div>
  </div>

  <div class="col-sm-5">

  </div>

  <div class="col-sm-2">
    <!-- <button type="button" class="btn btn-outline-secondary">Add Order</button> -->
    <div id="placeorder">
      <button type="button" routerLink="/stock-create" class="btn btn-secondary btn-lg btn-block">Place Order</button>
    </div>
  </div>

</div>

<div *ngIf="stockPortfolio.length !== 0">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Stock Ticker</th>
        <th scope="col">Holdings</th>
        <th scope="col">Avg Price</th>
        <th scope="col">Avg Price/Share</th>
        <th scope="col">Market Price</th>
        <th scope="col">Market Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stockPortfolio of stockPortfolio">
        <td>{{ stockPortfolio.stockTicker }}</td>
        <td>{{ stockPortfolio.holdings }}</td>
        <td>${{ stockPortfolio.avgPrice }}</td>
        <td>${{ stockPortfolio.value }}</td>
        <td>${{ stockPortfolio.value }}</td>
        <td>${{ stockPortfolio.value }}</td>
      </tr>
    </tbody>
  </table>
</div>


