table {
  margin-top: 10px;
}

#lead{
  margin-top: 20px;
}

#jumbotron
{
  padding: 20px;
}

#featurebutton {
  padding-left: 20px;
  padding-right: 20px;

}

#tabletitle {
  margin-top: 40px;
}

#placeorder {
  margin-top: 45px;
  margin-left: 55px;
}


