
<div class="row">
  <div class="col-sm-2">

  </div>

  <div class="col-sm-8">

        <div class="create-order-spacing">
          <div class="col-md-12">
            <h3 class="mb-3 text-center">Add Order</h3>
            <div class="form-group row">
              <label class="control-label col-md-12">Stock Ticker</label>
              <input
                type="text"
                [(ngModel)]="stockDetails.stockTicker"
                class="form-control"
              />
            </div>
            <div class="form-group row">
              <label for="exampleFormControlSelect1">Buy or Sell</label>
              <select
                [(ngModel)]="stockDetails.buyOrSell"
                class="form-select"
                id="exampleFormControlSelect1"
              >
                <option>Buy</option>
                <option>Sell</option>
              </select>
            </div>

            <!-- <div class="form-group row">
                <label class="control-label col-md-12">Buy/Sell</label>
                <input type="text" [(ngModel)]="stockDetails.buyOrSell" class="form-control">
            </div> -->

            <div class="form-group row">
              <label class="control-label col-md-12">Price</label>
              <input
                type="text"
                [(ngModel)]="stockDetails.price"
                class="form-control"
              />
            </div>

            <div class="form-group row">
              <label class="control-label col-md-12">Volume</label>
              <input
                type="text"
                [(ngModel)]="stockDetails.volume"
                class="form-control"
              />
            </div>
          </div>
          <div class="create-order-btn-spacing">
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" (click)="addStock()">
                Add Order
              </button>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-2">

    </div>
</div>
