<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Shipper</h3>

    <div class="form-group row">
      <label class="control-label col-md-12">Stock Ticker</label>
      <input type="text" [(ngModel)]="stockDetails.stockTicker" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Price</label>
      <input type="text" [(ngModel)]="stockDetails.price" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateStock()">Save Stock</button>
    </div>

 </div>
