




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">UPortfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/homepage" >Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/stock-list">History <!-- <span class="sr-only">(current)</span> --></a>
      </li>
    </ul>
  </div>
</nav>



<!-- <button class="btn btn-outline-primary" routerLink="/stock-create">Add Stock</button>

<button class="btn btn-outline-primary" routerLink="/stock-list">List Stock</button> -->

<div class="container">
  <!---
  <div id="Title">
    <h1>Your Portfolio</h1>
  </div>
-->



  <router-outlet></router-outlet>
</div>

