<!-- Stocks list table, it hides when there is no stock -->

<div class="jumbotron">
  <h1 class="display-4">Welcome to Order History!</h1>
  <p class="lead">Here you can view all previous orders you have placed.</p>
  <hr class="my-4" />
</div>

<h2>Order History</h2>

<!--
<div class="row">
  <div class="col-sm-4">
    <button type="button" id="featurebutton" class="btn btn-outline-secondary">
      Search by Stock Ticker
    </button>
    <br />
    <br />


    <div class="input-group rounded">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
    </div>
  </div>

  <div class="col-sm-4">
    <button type="button" id="featurebutton" class="btn btn-outline-secondary">
      Search by Buy/Sell
    </button>
  </div>

  <div class="col-sm-4">
    <button id="featurebutton" type="button" class="btn btn-outline-secondary">
      Search by Status Code
    </button>
  </div>
</div>

-->
<br />
<div class="stock-list-padding">
<div *ngIf="Stocks.length !== 0">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">id</th>
          <th scope="col">Stock Ticker</th>
          <th scope="col">Buy/Sell</th>
          <th scope="col">Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Status Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of Stocks">
          <td>{{ stock.createdTimestamp }}</td>
          <td>{{ stock.id }}</td>
          <td>{{ stock.stockTicker }}</td>
          <td>{{ stock.buyOrSell }}</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.volume }}</td>
          <td>{{ stock.statusCode }}</td>
          <td>
            <!---
			  <a [routerLink]="['/stock-edit/', stock.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>